$module: 'sneaker-rating';

.#{$module} {
  height: 10px;
  line-height: 0.625rem;

  &__icon {
    font-size: 0.6875rem;
    margin-right: 5px;
  }

  &_is-filled {
    color: $black;
  }

  &_is-outlined {
    color: $gray;
  }
}
