/config/wp-config.php
/config/deploy/ec2.yml

/lib
/wordpress
/vendor
/node_modules

/wp-content/uploads
/wp-content/upgrade
!/wp-content/themes/
/wp-content/themes/*
!wp-content/themes/urbansneakers
/wp-content/themes/urbansneakers/dist/
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/advanced-custom-fields-pro/

/.vagrant
/.idea
.DS_Store
*.log
