$module: 'material';

.#{$module} {
  &__title {
    font-size: $font-size-lg;
    margin-bottom: 10px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 0.75rem;
    font-family: $font-family-base;
    letter-spacing: 0.0625rem;
  }

  &__data {
    display: inline-block;
    font-size: $font-size-xs;
    color: $charcoal;
    letter-spacing: 0.0625rem;
  }
}
