$module: 'post-card-sidebar';

.#{$module} {
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 75px;

  &__image-wrapper {
    float: left;
    height: 75px;
    width: 95px;
    overflow: hidden;
  }

  &__image,
  &__placeholder {
    object-fit: cover;
  }

  &__body {
    padding-left: 105px;
  }

  &__link {
    color: $black;
  }

  &__meta {
    text-transform: uppercase;
    line-height: 13px;
  }

  &__title {
    margin-bottom: 2px;
    line-height: 15px;
    max-height: 31px;
    overflow: hidden;
  }

  &__excerpt {
    line-height: 15px;
    max-height: 30px;
    overflow: hidden;
  }
}
