$module: 'sneaker-card';

.#{$module} {
  &__image-wrapper {
    position: relative;
  }

  &__tag {
    font-size: 10px;
    letter-spacing: 1.3px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  &__tag_sale {
    background: $torch;
    color: $white;
  }

  &__tag_new {
    background: $gray;
    color: $black;
  }

  &__meta {
    margin: 2px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__featured-post,
  &__brand {
    font-weight: bold;
    font-size: 12px;
    color: $black;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  &__name {
    font-size: 12px;
    height: 26px;
  }

  &__featured-post,
  &__brand,
  &__name {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-weight: bold;
    font-size: 12px;
    color: $black;
    padding-left: 2px;
  }

  &__original-price {
    font-weight: bold;
    font-size: 12px;
    color: $dark-gray;
    text-decoration: line-through;
    max-height: 13px;
  }

  &__text {
    font-size: $font-size-xs;
    vertical-align: bottom;
    padding-top: 3px;
  }

  &__sale-text {
    padding-top: 0;
    padding-right: 2px;
  }

  &__pricing {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    max-height: 13px;
  }

  &__featured-post,
  &__pricing,
  &__price-old,
  &__text,
  &__brand,
  &__name {
    line-height: 13px;
    min-height: 13px;
  }

  &__brand,
  &__name {
    width: 60%;

    @include media-breakpoint-down(md) {
      width: 50%;
    }
  }

  &__pricing,
  &__price-old,
  &__text {
    width: 40%;

    @include media-breakpoint-down(md) {
      width: 50%;
    }
  }

  &__price,
  &__price-old,
  &__text,
  &__pricing {
    text-align: right;
  }

  &_is-light {
    .#{$module}__brand,
    .#{$module}__price {
      color: $white;
    }

    .#{$module}__name,
    .#{$module}__price-old,
    .#{$module}__text {
      color: $medium-gray;
    }
  }

  &_on-header {
    .#{$module}__wrapper {
      position: relative;
      width: 150px;
      top: 0;
      box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
      transition: 0.2s ease-in-out;
      transition-property: box-shadow, top;

      &:hover {
        @include media-breakpoint-up(md) {
          box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
          top: -10px;
          cursor: pointer;
        }
      }

      @include media-breakpoint-down(md) {
        width: 130px;
      }

      @include media-breakpoint-down(xs) {
        width: 115px;
      }
    }

    .#{$module}:last-child {
      @include media-breakpoint-down(sm) {
        margin-right: 20px;
      }
    }

    .#{$module}__brand,
    .#{$module}__name {
      width: 65%;

      @include media-breakpoint-down(md) {
        width: 50%;
      }
    }

    .#{$module}__pricing,
    .#{$module}__price-old,
    .#{$module}__text {
      width: 35%;
    }

    .#{$module}__text {
      &_second-row {
        width: 50%;
      }
    }

    .#{$module}__image-wrapper {
      height: 180px;

      @include media-breakpoint-down(md) {
        height: 156px;
      }

      @include media-breakpoint-down(xs) {
        height: 138px;
      }
    }
  }
}
