$module: 'header-home-latest-sneakers';

.#{$module} {
  height: 245px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;

  @include media-breakpoint-down(sm) {
    height: 220px;
    width: 750px;
  }

  @include media-breakpoint-down(xs) {
    width: 630px;
  }
}
